.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;

  text-align: center;
  background-color: var(--background-color);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 670px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-white);
  letter-spacing: 0.06em;
}

.hero__btn {
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}
